/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/



body {
    background-image:url(party3.jpg);
    background-repeat:repeat-x;    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: large;
    background-color: #7a0610;
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
}

#tagline p {
    font-style: Italic;
    font-family: sans-serif;
    color: #fbfff6;
    background-color: #800610;
    border-top: 3px solid #52060e;
    border-bottom: 3px solid #7a0610;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
}

#header {
    position: absolute;
    border-top: 3px solid #7a0610;
    width: 100%;

}

#navigation {
    position: absolute;
    top: 110px;
    width: 110px;
    height: 180px;
    text-decoration: none;
    background-color: #52060e;
    filter: alpha(opacity=60);
    opacity: 0.8;
    color: #800610;
    padding-left: .8em;

}

#bodycontent {
    position: absolute;
    left: 100px;
    top: 120px;
    padding-top:.4em;
    padding-left:2em;
}

#postcontent {
    position: absolute;
    left: 360px;
    top: 110px;
    width: 120px;
    height:180px;
    text-decoration: none;
    background-color: #7a0610;
    filter: alpha(opacity=60);
    opacity: 0.8;
    color: white;
    padding-left: .8em;

}

a:link {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#serverResponse {

    position: absolute;
    top: 210px;
    left: 140px;
    width: 200px;
    background: whitesmoke;
    filter: alpha(opacity=60);
    opacity: 0.8;
    color: #000000;
    padding-left: .8em;

}

label {

    color: #deffdf;
    font-weight: bold;
    padding: 4px;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
}




/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}